{% extends "blog/base.html" %}
{% load static  %}

{% block content %}


<article id="media content-section">

    <div class="container4">

        <div id="media-body">
            <div id="article-metadata">
                <a class="mr-2" href="#">About Me</a>
            </div>
            <h9 id="article-title-2" >Hi! I am Bashiru! I am a passionate and pragmatic software engineer with 18 years of professional experience, specializing in full-stack development using a variety of languages and frameworks. I have a Bachelor of Science in Software Engineering and a Master of Science in Networks Systems.

My mission is to make coding and software engineering accessible to everyone through courses that are simple to digest, and practical to implement.

I started teaching online five years ago, to help aspiring and established developers take their coding skills to the next level. I love to share my knowledge with you and give you the skills you need to stand out in an interview and get your dream job. I release a new course every month, so you never have to stop learning and fine-tuning your coding.</h9>
        </div>
    </div>
</article>

{% endblock content %}
