<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <title>Clone</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="#">Clone</a>
            </div>
            <div class="header-links">
                <a href="#">Sign Up</a>
                <a href="#">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">&times;</button>
            <ul>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
                <li>
                    <a href="#">Rentals</a>
                </li>
                <li>
                    <a href="#">Movies</a>
                </li>

                <li>
                    <a href="#">Fashion Wares</a>
                </li>

            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d1.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">Lenovo</a>
                            </div>
                            <div class="product-brand">Brand new</div>
                            <div class="product-price">$2000</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d2.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">HP Laptop</a>
                            </div>
                            <div class="product-brand">Windows 10 hp</div>
                            <div class="product-price">$1500</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d3.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">Lenovo Pro</a>
                            </div>
                            <div class="product-brand">Latest</div>
                            <div class="product-price">$2000</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d4.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">Laptops</a>
                            </div>
                            <div class="product-brand">MacPro</div>
                            <div class="product-price">$5000</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d1.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">Casper</a>
                            </div>
                            <div class="product-brand">Brand New</div>
                            <div class="product-price">$900</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="{% static  '/imag/d3.jpg' %}" alt="product" />
                            <div class="product-name">
                                <a href="#">Toshiba</a>
                            </div>
                            <div class="product-brand">minpro</div>
                            <div class="product-price">$500</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>

                </ul>
            </div>


        </main>
        <footer class="footer">
            amazonlike@bashiru.com
        </footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>

</html>
